<template>
  <button
    class="btn btn-warning changeColorBtn btn-sm mr-1"
    @click="ask"
    data-toggle="tooltip"
    data-placement="left"
    title="Duyệt"
  >
    <i class="fa fa-check-square"></i>
  </button>
</template>

<script>
import CheckPostService from "../../services/check_post";
import swal from "sweetalert";

export default {
  props: ["checkPost"],
  data() {
    return {};
  },
  methods: {
    ask() {
      swal({
        title: "Xác nhận duyệt?",
        text:
          'Bạn có muốn duyệt bài đăng "' +
          this.checkPost.title +
          '" mã tin ' +
          this.checkPost.id +
          " không?",
        icon: "success",
        buttons: true,
        dangerMode: true
      }).then(willDelete => {
        if (willDelete) {
          CheckPostService.update(this.checkPost.id);
          swal("Đã duyệt thành công!", {
            icon: "success",
            buttons: false
          });
        } else {
        }
      });
      this.$emit("ok");
    },

    basicErrorHandle(e) {
      console.log(e);

      let message = "";
      if (e.response.status === 401) {
        message = "Yêu cầu bị từ chối";
      } else if (e.response.status >= 500) {
        message = "Lỗi máy chủ" + e.message;
      } else {
        message = e.response.data.message;
      }

      swal({
        type: "error",
        title: "Lỗi",
        text: "Không thể xử lý yêu cầu của bạn do lỗi: " + message
      });

      console.error(message);
    }
  }
};
</script>
