<template>
  <div>
    <!--    <h1 class="text-center">Settings</h1>-->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <!-- Input Addons -->
            <div class="box-header with-border">
              <h3 class="box-title">Thông tin cơ bản</h3>
            </div>
            <div class="box-body">
              <div class="form-group">
                <div class="col col-sm-6">
                  <label class="control-label">Tỉnh/Thành phố</label>
                  <select
                    v-model="form.province_id"
                    class="form-control select2"
                    style="width: 100%;"
                  >
                    <option
                      v-for="item in provinceOptions"
                      :key="item.value"
                      :value="item.value"
                    >
                      {{ item.text }}
                    </option>
                  </select>
                </div>

                <div class="col col-sm-6">
                  <label class="control-label">Quận/Huyện</label>
                  <select
                    v-model="form.district_id"
                    class="form-control select2"
                    style="width: 100%;"
                  >
                    <option
                      v-for="item in districtOptions"
                      :key="item.value"
                      :value="item.value"
                    >
                      {{ item.text }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <div class="col col-sm-12">
                  <label class="control-label">Tên danh mục dự án</label>
                  <input
                    class="form-control"
                    v-model="form.name"
                    placeholder="Tiêu đề..."
                    type="text"
                  />
                </div>
              </div>

              <div class="form-group">
                <div class="col col-sm-12">
                  <label class="control-label">Mô tả dự án</label>
                  <ckeditor
                    :editor="editor"
                    v-model="form.description"
                    :config="editorConfig"
                  ></ckeditor>
                </div>
              </div>

              <div class="form-group">
                <div class="col col-sm-6">
                  <label class="control-label">Ảnh đại diện</label>
                  <input
                    type="file"
                    class="form-control"
                    @change="onFileChange"
                    placeholder="Choose a file..."
                  />
                </div>
                <div class="col col-sm-6">
                  <div id="preview">
                    <img v-if="url" :src="url" />
                  </div>
                </div>
              </div>
              <!-- /input-group -->
            </div>
            <!-- /.box-body -->
            <div class="box-body">
              <div class="col-sm-12">
                <button class="btn btn-warning changeColorBtn" @click="reset()">
                  <i class="fa fa-retweet"></i>
                  Nhập lại
                </button>
                <button
                  v-if="!isSubmitting"
                  class="btn btn-warning changeColorBtn"
                  @click="submit"
                >
                  <i class="fa fa-save"></i>
                  Lưu
                </button>
                <button
                  v-else
                  class="btn btn-warning changeColorBtn"
                  @click="submit"
                  disabled
                >
                  <i class="fa fa-cog fa-spin"></i>
                  Đang lưu ...
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import swal from "sweetalert";
import CategoryService from "../../services/category";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";

export default {
  name: "add",
  data() {
    return {
      editor: ClassicEditor,
      editorConfig: {
        toolbar: {
          items: [
            "bold",
            "italic",
            "link",
            "undo",
            "redo",
            "imageUpload",
            "bulletedList",
            "numberedList",
            "blockQuote"
          ]
        }
      },
      url: null,
      image: "",
      form: {
        province_id: 0,
        district_id: 0,
        name: "",
        description: "<p>Nội dung trang tin của bạn...</p>",

      }
    };
  },
  mounted() {
    this.loadProvinceData();
  },
  computed: {
    ...mapState("category_ac", {
      provinceOptions: state => state.provinceOptions,
      districtOptions: state => state.districtOptions
    }),
    ...mapGetters("category_add", {
      isSubmitting: "isSubmitting"
    })
  },
  methods: {
    ...mapActions("category_ac", {
      loadProvinceData: "loadProvinceData",
      changeProvince: "changeProvince",
      changeDistrict: "changeDistrict"
    }),
    ...mapActions("category_add", {
      setBasicInfo: "setBasicInfo",
      addImage: "addImage",
      doSubmit: "submit",
      reset: "reset"
    }),
    onFileChange(e) {
      let files = e.target.files;
      this.image = e.target.files[0];
      const file = e.target.files[0];
      this.url = URL.createObjectURL(file);
      this.doUploadFile(files);
    },
    doUploadFile() {
      const config = {
        headers: { "content-type": "multipart/form-data" }
      };
      let formData = new FormData();
      formData.append("image", this.image);
      CategoryService.upload(formData, config)
        .then(res => {
          this.addImage(res.data.data);
        })
        .catch(function() {
          console.log("load ảnh thất bại");
        });
    },
    submit() {
      this.doSubmit()
        .then(success => {
          swal({
            title: "Good job!",
            text: JSON.stringify(success.data.message),
            icon: "success",
            button: false
          });
          this.$router.push("/category");
        })
        .catch(err => {
          swal({
            title: "Đăng tin không thành công",
            text: JSON.stringify(err.response.data.errors),
            icon: "warning",
            button: false
          });
        });
    }
  },
  watch: {
    "form.province_id": function(newVal) {
      this.form.district_id = 0;
      this.changeProvince(newVal);
      this.setBasicInfo(this.form);
    },
    "form.district_id": function() {
      this.setBasicInfo(this.form);
    },
    "form.name": function() {
      this.setBasicInfo(this.form);
    },
    "form.description": function() {
      this.setBasicInfo(this.form);
    }
  }
};
</script>
