<template>
  <div style="clear: both">
    <div class="form-group">
      <div class="col col-sm-3">
        <label class="control-label">Họ tên liên hệ</label>
        <input
          class="form-control"
          v-model="form.contact_name"
          placeholder="Họ tên..."
          type="text"
        />
      </div>

      <div class="col col-sm-3">
        <label class="control-label">Địa chỉ liên hệ</label>
        <input
          class="form-control"
          v-model="form.contact_address"
          placeholder="Địa chỉ..."
          type="text"
        />
      </div>

      <div class="col col-sm-3">
        <label class="control-label">Số điện thoại liên hệ</label>
        <input
          class="form-control"
          v-model="form.contact_mobile"
          placeholder="Số điện thoại..."
          type="text"
        />
      </div>

      <div class="col col-sm-3">
        <label class="control-label">Email liên hệ</label>
        <input
          class="form-control"
          v-model="form.contact_email"
          placeholder="Email..."
          type="text"
        />
      </div>
    </div>
    <!-- /input-group -->
  </div>
</template>
<script>
import { mapState, mapActions } from "vuex";
import PostService from "../../../services/post";

export default {
  name: "add",
  data() {
    return {
      form: {
        contact_name: "",
        contact_address: "",
        contact_mobile: "",
        contact_email: ""
      }
    };
  },
  created() {
    this.getShow();

    this.form.contact_name =
      this.userInfo.last_name + " " + this.userInfo.first_name;
    this.form.contact_address = this.userInfo.address;
    this.form.contact_mobile = this.userInfo.mobile;
    this.form.contact_email = this.userInfo.email;
  },
  computed: {
    ...mapState("auth", {
      userInfo: state => state.userInfo
    })
  },
  methods: {
    ...mapActions("post_edit", {
      setContactInfo: "setContactInfo"
    }),
    getShow() {
      this.isLoading = true;
      PostService.show(this.$route.params.id).then(response => {
        this.isLoading = false;
        this.form = response.data.data;
      });
    }
  },
  watch: {
    form: {
      handler() {
        this.setContactInfo(this.form);
      },
      deep: true
    }
  }
};
</script>
