<template>
  <ul class="sidebar-menu">
    <!--    <router-link tag="li" class="pageLink" to="/">-->
    <!--      <a>-->
    <!--        <i class="fa fa-desktop"></i>-->
    <!--        <span class="page">Tổng quan</span>-->
    <!--      </a>-->
    <!--    </router-link>-->
    <li class="header">Người dùng</li>
    <router-link tag="li" class="pageLink" to="/user">
      <a>
        <i class="fa fa-user"></i>
        <span class="page">Tài khoản</span>
      </a>
    </router-link>
    <li class="header">Bài đăng</li>
    <router-link tag="li" class="pageLink" to="/post">
      <a>
        <i class="fa fa-pencil-square-o"></i>
        <span class="page">Đăng tin</span>
      </a>
    </router-link>
    <router-link tag="li" class="pageLink" to="/category">
      <a>
        <i class="fa fa-th-large"></i>
        <span class="page">Danh mục dự án</span>
      </a>
    </router-link>
    <router-link tag="li" class="pageLink" to="/checkPost">
      <a>
        <i class="fa fa-check-square"></i>
        <span class="page">Kiểm duyệt</span>
      </a>
    </router-link>
    <li class="header">Tin tức - Thị trường</li>
    <router-link tag="li" class="pageLink" to="/news">
      <a>
        <i class="fa fa-newspaper-o"></i>
        <span class="page">Tin tức</span>
      </a>
    </router-link>

    <li class="header">Khách hàng</li>
    <router-link tag="li" class="pageLink" to="/watchLive">
      <a>
        <i class="fa fa-space-shuttle"></i>
        <span class="page">Đăng kí xem trực tiếp</span>
      </a>
    </router-link>
    <router-link tag="li" class="pageLink" to="/getPriceList">
      <a>
        <i class="fa fa-money"></i>
        <span class="page">Đăng kí nhận bảng giá</span>
      </a>
    </router-link>
    <router-link tag="li" class="pageLink" to="/additionalQuestion">
      <a>
        <i class="fa fa-question-circle"></i>
        <span class="page">Hỏi thêm thông tin</span>
      </a>
    </router-link>
    <router-link tag="li" class="pageLink" to="/agency">
      <a>
        <i class="fa fa-sitemap"></i>
        <span class="page">Nhân sự</span>
      </a>
    </router-link>
    
  </ul>
</template>
<script>
export default {
  name: "SidebarMenu"
};
</script>
<style>
/* override default */
.sidebar-menu > li > a {
  padding: 12px 15px 12px 15px;
}

.sidebar-menu li.active > a > .fa-angle-left,
.sidebar-menu li.active > a > .pull-right-container > .fa-angle-left {
  animation-name: rotate;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.treeview-title {
  z-index: 1;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-90deg);
  }
}
</style>
