<template>
  <li class="dropdown user user-menu">
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
      <!-- The user image in the navbar-->
      <img :src="user.avatar" class="user-image" alt="User Image" />
      <!-- hidden-xs hides the username on small devices so only the image appears. -->
      <span class="hidden-xs">{{ username }}</span>
    </a>
    <!-- Account Info and Menu -->
    <ul class="dropdown-menu">
      <li
        class="user-header"
        style="height:auto;min-height:85px;padding-bottom:15px;"
      >
        <p>
          <span>{{ username }}</span>
          <small v-for="role in user.roles" :key="role">{{ role }}</small>
        </p>
      </li>
      <li class="user-footer">
        <button @click="logout" class="btn btn-default btn-flat btn-block">
          <i class="fa fa-sign-out"></i>
          <span>
            Đăng xuất
          </span>
        </button>
      </li>
    </ul>
  </li>
</template>

<script>
import auth from "../../services/auth";

export default {
  name: "UserMenu",
  props: ["user"],
  data() {
    return {
      username: localStorage.isUsername
    };
  },
  methods: {
    logout() {
      auth
        .isLoggedOut()
        .then(response => {
          console.log(response);
          this.$router.push("/login");
        })
        .catch(function(error) {
          console.error(error);
        });
    }
  }
};
</script>
