<template>
  <div>
    <!--    <h1 class="text-center">Settings</h1>-->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <!-- Input Addons -->
            <div class="box-header with-border">
              <h3 class="box-title">Thông tin cơ bản</h3>
            </div>

            <div class="box-body">
              <div class="form-group">
                <div class="col col-sm-12">
                  <label class="control-label">Tên liên hệ</label>
                  <input
                    class="form-control"
                    v-model="form.contact_name"
                    placeholder="Tiêu đề..."
                    type="text"
                  />
                </div>
              </div>

              <div class="form-group">
                <div class="col col-sm-6">
                  <label class="control-label">Số điện thoại</label>
                  <input
                    class="form-control"
                    v-model="form.contact_mobile"
                    type="number"
                  />
                </div>

                <div class="col col-sm-6">
                  <label class="control-label">Địa chỉ email</label>
                  <input
                    class="form-control"
                    v-model="form.contact_email"
                    type="email"
                  />
                </div>
              </div>

              <div class="form-group">
                <div class="col col-sm-6">
                  <label class="control-label">Chức vụ</label>
                  <input
                    class="form-control"
                    v-model="form.position"
                    type="text"
                  />
                </div>

                <div class="col col-sm-6">
                  <label class="control-label">Công ty</label>
                  <input
                    class="form-control"
                    v-model="form.company"
                    type="email"
                  />
                </div>
              </div>

              <div class="form-group">
                <div class="col col-sm-12">
                  <label class="control-label">Giới thiệu</label>
                  <textarea
                    class="form-control"
                    v-model="form.introduce"
                    rows="5"
                    placeholder="Tốc độ tăng trưởng mạnh mẽ của lĩnh vực..."
                    type="text"
                  ></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col col-sm-12">
                  <label class="control-label">Kinh nghiệm</label>
                  <textarea
                    class="form-control"
                    v-model="form.experience"
                    rows="5"
                    placeholder="Tốc độ tăng trưởng mạnh mẽ của lĩnh vực..."
                    type="text"
                  ></textarea>
                </div>
              </div>

              <div class="form-group">
                <div class="col col-sm-6">
                  <label class="control-label">Ảnh đại diện</label>
                  <input
                    type="file"
                    class="form-control"
                    @change="onFileChange"
                    placeholder="Choose a file..."
                  />
                </div>
                <div class="col col-sm-6">
                  <div id="preview">
                    <img v-if="url" :src="url" />
                  </div>
                </div>
              </div>
              <!-- /input-group -->
            </div>
            <!-- /.box-body -->
            <div class="box-body">
              <div class="col-sm-12">
                <button class="btn btn-warning changeColorBtn" @click="reset()">
                  <i class="fa fa-retweet"></i>
                  Nhập lại
                </button>
                <button
                  v-if="!isSubmitting"
                  class="btn btn-warning changeColorBtn"
                  @click="submit"
                >
                  <i class="fa fa-save"></i>
                  Lưu
                </button>
                <button v-else class="btn btn-warning changeColorBtn" @click="submit" disabled>
                  <i class="fa fa-cog fa-spin"></i>
                  Đang lưu ...
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<style>
#preview {
  justify-content: center;
  align-items: center;
}

#preview img {
  max-width: 50%;
  max-height: 50%;
}
</style>
<script>
import { mapActions, mapGetters } from "vuex";
import swal from "sweetalert";
import AgencyService from "../../services/agency";

export default {
  name: "add",
  data() {
    return {
      url: null,
      image: "",
      form: {
        contact_name: "",
        thumbnails: "",
        position: "",
        contact_mobile: "",
        contact_email: "",
        company: "",
        experience: "",
        introduce: ""
      }
    };
  },
  computed: {
    ...mapGetters("agency_add", {
      isSubmitting: "isSubmitting"
    })
  },
  methods: {
    ...mapActions("agency_add", {
      setBasicInfo: "setBasicInfo",
      setThumbnails: "setThumbnails",
      addImage: "addImage",
      doSubmit: "submit",
      reset: "reset"
    }),
    onFileChange(e) {
      let files = e.target.files;
      this.image = e.target.files[0];
      const file = e.target.files[0];
      this.url = URL.createObjectURL(file);
      this.doUploadFile(files);
    },
    doUploadFile() {
      const config = {
        headers: { "content-type": "multipart/form-data" }
      };
      let formData = new FormData();
      formData.append("image", this.image);
      AgencyService.upload(formData, config)
        .then(res => {
          this.addImage(res.data.data);
        })
        .catch(function() {
          console.log("load ảnh thất bại");
        });
    },
    submit() {
      this.doSubmit()
        .then(success => {
          swal({
            title: "Good job!",
            text: JSON.stringify(success.data.message),
            icon: "success",
            button: false
          });
          this.$router.push("/agency");
        })
        .catch(err => {
          swal({
            title: "Đăng tin không thành công",
            text: JSON.stringify(err.response.data.errors),
            icon: "warning",
            button: false
          });
        });
    }
  },
  watch: {
    "form.contact_name": function() {
      this.setBasicInfo(this.form);
    },
    "form.thumbnails": function() {
      this.setBasicInfo(this.form);
    },
    "form.position": function() {
      this.setBasicInfo(this.form);
    },
    "form.contact_mobile": function() {
      this.setBasicInfo(this.form);
    },
    "form.contact_email": function() {
      this.setBasicInfo(this.form);
    },
    "form.company": function() {
      this.setBasicInfo(this.form);
    },
    "form.experience": function() {
      this.setBasicInfo(this.form);
    },
    "form.introduce": function() {
      this.setBasicInfo(this.form);
    }
  }
};
</script>
