<template>
  <div>
    <div class="form-group">
      <div class="col col-sm-12">
        <label class="control-label">Tiêu đề</label>
        <input
          class="form-control"
          v-model="form.title"
          placeholder="Tiêu đề..."
          type="text"
        />
      </div>
    </div>
    <div class="form-group">
      <div class="col col-sm-3">
        <label class="control-label">Hình thức</label>
        <select
          v-model="form.product_type"
          class="form-control select2"
          style="width: 100%;"
        >
          <option
            v-for="item in productTypeOptions"
            :key="item.value"
            :value="item.value"
          >
            {{ item.text }}
          </option>
        </select>
      </div>
      <div class="col col-sm-3">
        <label class="control-label">Loại</label>
        <select
          v-model="form.product_category"
          class="form-control select2"
          style="width: 100%;"
        >
          <option
            v-for="item in productCategoryOptions"
            :key="item.value"
            :value="item.value"
          >
            {{ item.text }}
          </option>
        </select>
      </div>
      <div class="col col-sm-3">
        <label class="control-label">Giá</label>
        <input
          class="form-control"
          v-model="form.price"
          placeholder="5, 10, 15,.."
          type="text"
        />
      </div>

      <div class="col col-sm-3">
        <label class="control-label">Đơn vị giá</label>
        <select
          v-model="form.price_unit"
          class="form-control select2"
          style="width: 100%;"
        >
          <option
            v-for="item in priceTypeOptions"
            :key="item.value"
            :value="item.value"
          >
            {{ item.text }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col col-sm-3">
        <label class="control-label">Tỉnh/Thành phố</label>
        <select
          v-model="form.province_id"
          class="form-control select2"
          style="width: 100%;"
        >
          <option
            v-for="item in provinceOptions"
            :key="item.value"
            :value="item.value"
          >
            {{ item.text }}
          </option>
        </select>
      </div>

      <div class="col col-sm-3">
        <label class="control-label">Quận/Huyện</label>
        <select
          v-model="form.district_id"
          class="form-control select2"
          style="width: 100%;"
        >
          <option
            v-for="item in districtOptions"
            :key="item.value"
            :value="item.value"
          >
            {{ item.text }}
          </option>
        </select>
      </div>

      <div class="col col-sm-3">
        <label class="control-label">Phường/Xã</label>
        <select
          v-model="form.ward_id"
          class="form-control select2"
          style="width: 100%;"
        >
          <option
            v-for="item in wardOptions"
            :key="item.value"
            :value="item.value"
          >
            {{ item.text }}
          </option>
        </select>
      </div>
      <div class="col col-sm-3">
        <label class="control-label">Đường/Hẻm</label>
        <select
          v-model="form.street_id"
          class="form-control select2"
          style="width: 100%;"
        >
          <option
            v-for="item in streetOptions"
            :key="item.value"
            :value="item.value"
          >
            {{ item.text }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col col-sm-12">
        <label class="control-label">Địa chỉ</label>
        <input
          class="form-control"
          v-model="form.address"
          placeholder="Địa chỉ của dự án..."
          type="text"
        />
      </div>
    </div>

    <div class="form-group">
      <div class="col col-sm-4">
        <label class="control-label">Dự án</label>
        <select
          v-model="form.project_id"
          class="form-control select2"
          style="width: 100%;"
        >
          <option
            v-for="item in projectOptions"
            :key="item.value"
            :value="item.value"
          >
            {{ item.text }}
          </option>
        </select>
      </div>
      <div class="col col-sm-4">
        <label class="control-label">Diện tích</label>
        <input
          class="form-control"
          v-model="form.area"
          placeholder="Tổng diện tích..."
          type="text"
        />
      </div>

      <div class="col col-sm-4">
        <label class="control-label">Đơn vị diện tích</label>
        <input
          class="form-control"
          v-model="form.area_unit"
          placeholder="Loại nội dung..."
          type="text"
        />
      </div>
    </div>

    <!-- /input-group -->
  </div>
</template>
<script>
import { mapState, mapActions } from "vuex";
import _ from "lodash";

export default {
  name: "add",
  data() {
    return {
      form: {
        title: "",
        price: "",
        price_unit: 0,
        area: "",
        area_unit: "m2",
        province_id: 0,
        district_id: 0,
        ward_id: 0,
        street_id: 0,
        address: "",

        product_category: 0,
        project_id: 0,
        product_type: 0
      },
      productTypeOptions: [
        { value: 0, text: "-- Hình thức --" },
        { value: 38, text: "Nhà đất bán" },
        { value: 49, text: "Nhà đất cho thuê" }
      ],
      productCategoryOptions: [
        { value: 0, text: "--- Vui lòng chọn hình thức ---" }
      ],
      priceTypeOptions: [{ value: 0, text: "--- Vui lòng chọn hình thức ---" }],
      cateList: [
        {
          id: 38,
          name: "Nhà đất bán",
          children: [
            { value: "0", text: "--- Chọn danh mục bán ---" },
            { value: "324", text: "Bán căn hộ chung cư" },
            { value: "41", text: "Bán nhà riêng" },
            { value: "325", text: "Bán nhà biệt thự, liền kề" },
            { value: "163", text: "Bán nhà mặt phố" },
            { value: "40", text: "Bán đất nền dự án" },
            { value: "283", text: "Bán đất" },
            { value: "44", text: "Bán trang trại, khu nghỉ dưỡng" },
            { value: "45", text: "Bán kho, nhà xưởng" },
            { value: "48", text: "Bán loại bất động sản khác" }
          ],
          prices: [
            { value: "0", text: "Thỏa thuận" },
            { value: "1", text: "Triệu" },
            { value: "2", text: "Tỷ" },
            { value: "6", text: "Trăm nghìn/m2" },
            { value: "7", text: "Triệu/m2" }
          ]
        },
        {
          id: 49,
          name: "Nhà đất cho thuê",
          children: [
            { value: "0", text: "--- Chọn danh mục cho thuê ---" },
            { value: "326", text: "Cho thuê căn hộ chung cư" },
            { value: "52", text: "Cho thuê nhà riêng" },
            { value: "51", text: "Cho thuê nhà mặt phố" },
            { value: "57", text: "Cho thuê nhà trọ, phòng trọ" },
            { value: "50", text: "Cho thuê văn phòng" },
            { value: "55", text: "Cho thuê cửa hàng, ki ốt" },
            { value: "53", text: "Cho thuê kho, nhà xưởng, đất" },
            { value: "59", text: "Cho thuê loại bất động sản khác" }
          ],
          prices: [
            { value: "0", text: "Thỏa thuận" },
            { value: "1", text: "Trăm nghìn/tháng" },
            { value: "2", text: "Triệu/tháng" },
            { value: "5", text: "Trăm nghìn/m2/tháng" },
            { value: "6", text: "Triệu/m2/tháng" },
            { value: "7", text: "Nghìn/m2/tháng" }
          ]
        }
      ]
    };
  },
  mounted() {
    this.loadAddress();
    this.loadProvinceData();
  },
  computed: {
    ...mapState("post_ac", {
      provinceOptions: state => state.provinceOptions,
      districtOptions: state => state.districtOptions,
      wardOptions: state => state.wardOptions,
      streetOptions: state => state.streetOptions,
      projectOptions: state => state.projectOptions
    })
  },
  methods: {
    ...mapActions("post_add", {
      setBasicInfo: "setBasicInfo"
    }),
    ...mapActions("post_ac", {
      loadProvinceData: "loadProvinceData",
      changeProvince: "changeProvince",
      changeDistrict: "changeDistrict"
    }),
    loadAddress() {
      this.form.province = 3;
      this.form.district = 163;

      this.changeProvince(this.form.province);
      this.changeDistrict(this.form.district);

      this.setBasicInfo(this.form);
      this.refreshAddress();
    },

    refreshAddress() {
      this.form.address = "";

      if (!this.form.project_id) {
        if (this.form.street_id) {
          let street = _.find(this.streetOptions, {
            value: this.form.street_id
          });
          this.form.address += street.text + ", ";
        }

        if (this.form.ward_id) {
          let ward = _.find(this.wardOptions, { value: this.form.ward_id });
          this.form.address += " " + ward.text + ", ";
        }
      } else {
        let project = _.find(this.projectOptions, {
          value: this.form.project_id
        });
        this.form.address += project.text + ", ";
      }

      if (this.form.district_id) {
        let district = _.find(this.districtOptions, {
          value: this.form.district_id
        });
        this.form.address += district.text;
      }

      if (this.form.province_id) {
        let province = _.find(this.provinceOptions, {
          value: this.form.province_id
        });
        this.form.address += ", " + province.text;
      }
    }
  },
  watch: {
    "form.title": function() {
      this.setBasicInfo(this.form);
    },
    "form.price": function() {
      this.setBasicInfo(this.form);
    },
    "form.price_unit": function() {
      this.setBasicInfo(this.form);
    },
    "form.area": function() {
      this.setBasicInfo(this.form);
    },
    "form.area_unit": function() {
      this.setBasicInfo(this.form);
    },
    "form.province_id": function(newVal) {
      this.form.district_id = 0;
      this.form.ward_id = 0;
      this.form.street_id = 0;
      this.form.project_id = 0;

      this.changeProvince(newVal);
      this.refreshAddress();
      this.setBasicInfo(this.form);
    },
    "form.district_id": function(newVal) {
      this.form.ward_id = 0;
      this.form.street_id = 0;
      this.form.project_id = 0;

      this.changeDistrict(newVal);
      this.refreshAddress();
      this.setBasicInfo(this.form);
    },
    "form.ward_id": function() {
      this.refreshAddress();
      this.setBasicInfo(this.form);
    },
    "form.street_id": function() {
      this.refreshAddress();
      this.setBasicInfo(this.form);
    },
    "form.project_id": function() {
      this.refreshAddress();
      this.setBasicInfo(this.form);
    },
    "form.product_type": function() {
      if (!this.form.product_type) {
        this.productCategoryOptions = [];
        return;
      }
      for (let i = 0; i < this.cateList.length; i++) {
        if (this.cateList[i]["id"] !== this.form.product_type) {
          continue;
        }
        this.productCategoryOptions = this.cateList[i]["children"];
        this.priceTypeOptions = this.cateList[i]["prices"];
        this.form.price_unit =
          this.priceTypeOptions.length > 0
            ? this.priceTypeOptions[0]["value"]
            : null;

        break;
      }
    }
  }
};
</script>
