<template>
  <div>
    <div class="form-group">
      <div class="col col-sm-12">
        <label class="control-label">Mô tả</label>
        <ckeditor
          :editor="editor"
          v-model="description"
          :config="editorConfig"
        ></ckeditor>
      </div>
    </div>
    <!-- /input-group -->
  </div>
</template>
<script>
import { mapActions } from "vuex";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";

export default {
  name: "add",
  data() {
    return {
      editor: ClassicEditor,
      editorConfig: {
        toolbar: {
          items: [
            "bold",
            "italic",
            "link",
            "undo",
            "redo",
            "imageUpload",
            "bulletedList",
            "numberedList",
            "blockQuote"
          ]
        }
      },
      description: "<p>Nội dung trang tin của bạn...</p>"
    };
  },
  methods: {
    ...mapActions("post_add", {
      setDescription: "setDescription"
    })
  },
  watch: {
    description: function(newVal) {
      this.setDescription(newVal);
    }
  }
};
</script>
