<template>
  <div>
    <div class="form-group col-sm-12">
      <label class="control-label">Hình ảnh</label>
      <br />
      Tối đa 8 ảnh với tin thường và 16 với tin VIP. Mỗi ảnh tối đa 5MB<br />
      Tin rao có ảnh sẽ được xem nhiều hơn gấp 10 lần và được nhiều người gọi
      gấp 5 lần so với tin rao không có ảnh. Hãy đăng ảnh để được giao dịch
      nhanh chóng!<br />

      <br />
      Đăng ảnh thật nhanh bằng cách kéo và thả ảnh vào khung. Thay đổi vị trí
      của ảnh bằng cách kéo ảnh vào vị trí mà bạn muốn!
      <div @dragover.prevent @drop="onDrop" class="col col-sm-12 dm-uploader">
        <label for="file-upload" class="custom-file-upload">
          <i class="fa fa-cloud-upload"></i> Chọn từ máy tính
        </label>
        <input
        readonly
          id="file-upload"
          @change="onChooseFile"
          accept="image/*"
          multiple=""
          title="Bấm vào đây để chọn file"
          type="file"
        />
      </div>
      <span class="text-info">{{ upload_status }}</span>
      <div
        class="col col-sm-3"
        v-for="(i, index) in mediaInfo.preview"
        :key="index"
      >
        <div class="item">
          <a target="_blank" :href="i.raw">
            <span v-if="i.type === 'image_360'" class="notify-badge">360°</span>
            <img width="150" height="80" class="img-cover" :src="i.thumbnail" />
          </a>
        </div>

        <!--        <button v-if="i.type === 'image'" variant="green" class="mr-1" disabled>Hiển thị dạng 360/Panorama/Sphere-->
        <!--        </button>-->
        <!--        <button v-else variant="green" class="mr-1" disabled>Hiển thị dạng ảnh thường</button>-->

        <button
          variant="danger"
          class="btn btn-danger"
          @click="removeImage(index)"
        >
          <i class="fa fa-minus-circle" aria-hidden="true"></i>
        </button>
      </div>
    </div>

    <!--      //test-->
    <div
      class="col col-sm-3"
      v-for="(i, index) in mediaInfoOld.preview"
      :key="index"
    >
      <div class="item">
        <a target="_blank" :href="i.raw">
          <span v-if="i.type === 'image_360'" class="notify-badge">360°</span>
          <img width="150" height="80" class="img-cover" :src="i.thumbnail" />
        </a>
      </div>

      <button
        variant="danger"
        class="btn btn-danger"
        @click="removeImageOld(index)"
      >
        <i class="fa fa-minus-circle" aria-hidden="true"></i>
      </button>
    </div>
    <!--//test-->
    <div class="form-group">
      <div class="col col-sm-12">
        <label class="control-label">Video</label>
        <input
        readonly
          class="form-control"
          v-model="form.youtube"
          placeholder="Vd: https://www.youtube.com/watch?v=nHK0u40Ompc"
          type="text"
        />
        <iframe
          v-if="form.youtube"
          width="560"
          height="315"
          :src="form.youtube"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <!-- /input-group -->
  </div>
</template>
<style scoped>
.dm-uploader {
  border: 0.25rem dashed #a5a5c7;
  min-height: 100px;
}
.item {
  position: relative;
  padding-top: 20px;
  display: inline-block;
}

.notify-badge {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: red;
  text-align: center;
  border-radius: 5px 5px 5px 5px;
  color: white;
  padding: 5px 5px;
  font-size: 20px;
}
/*// Custom button*/
input[type="file"] {
  display: none;
}
.custom-file-upload {
  /*display: inline-block;*/
  padding: 6px 12px;
  cursor: pointer;

  display: table;
  margin: 20px auto;
  border: 1px solid #ccc;
}
/*// CENTER BUTTON*/
</style>

<script>
import { mapActions, mapGetters } from "vuex";
import ImageService from "../../../services/image";
import swal from "sweetalert";
import PostService from "../../../services/post";
// import axios from "axios";

export default {
  name: "add",
  data() {
    return {
      upload_status: "",

      upload_id: 0,
      queue: [],

      form: {
        youtube: ""
      }
    };
  },
  mounted() {
    this.loadAddress();
  },
  created() {
    this.getShow();
  },
  computed: {
    ...mapGetters("post_edit", {
      mediaInfo: "mediaInfo",
      mediaInfoOld: "mediaInfoOld"
    })
  },
  methods: {
    ...mapActions("post_edit", {
      setThumbnails: "setThumbnails",
      addImage: "addImage",
      removeImage: "removeImage",
      rmImage: "rmImage", // TEST removeImagesOld
      removeImageOld: "removeImageOld", // TEST removeImagesOld
      setLinkYoutube: "setLinkYoutube"
    }),
    getShow() {
      this.isLoading = true;
      PostService.show(this.$route.params.id).then(response => {
        this.isLoading = false;
        this.form = response.data.data;
        this.rmImage(response.data.data.images);
      });
    },
    loadAddress() {
      this.mediaInfoOld = "";
    },

    // getRemoveImagesOld(id) {
    //   axios
    //     .delete("api/post/removeImagesOld/" + id)
    //     .then(response => {
    //       this.listImagesOld.splice(id, 1);
    //       console.log(response);
    //       console.log("xóa ảnh thành công");
    //     })
    //     .catch(err => {
    //       console.log(err);
    //       console.log("xóa ảnh thất bại");
    //     });
    // },
    /**
     * Ensure number of upload files bellow 16
     *
     * @param files
     */
    preCheckSelectedFiles(files) {
      if (
        files.length > 16 ||
        this.mediaInfo.files.length + files.length > 16
      ) {
        swal("Ối, hình như bạn chọn quá nhiều tập tin rồi", "");
        return;
      }

      this.doUploadFileBatch(files);
    },

    /**
     * Handle user choose files from disk
     *
     * @param e event
     */
    onChooseFile(e) {
      let files = e.target.files;
      // console.log('Choose files:', files)

      this.preCheckSelectedFiles(files);
    },

    /**
     * Handle user drag and drop files
     *
     * @param e event
     */
    onDrop(e) {
      e.stopPropagation();
      e.preventDefault();

      let files = e.dataTransfer.files;
      this.preCheckSelectedFiles(files);
    },

    /**
     * Upload batch files to server
     *
     * @param files array of file
     */
    doUploadFileBatch(files) {
      for (let i = 0; i < files.length; i++) {
        this.doUploadFile(files[i]);
      }
    },

    /**
     * Upload single file to server
     *
     * @param file file to upload
     */
    doUploadFile(file) {
      let callback = progressEvent => {
        let percentCompleted = Math.round(
          (progressEvent.loaded * 100) / progressEvent.total
        );

        if (percentCompleted === 100) {
          this.upload_status = "Đang xử lý " + file.name;
          return;
        }

        this.upload_status =
          "Đang tải lên " + file.name + " " + percentCompleted + "%";
      };

      ImageService.uploadFile(file, callback)
        .then(response => {
          this.addImage(response.data.data);
          this.upload_status = "";
        })
        .catch(err => {
          console.log(err);
          this.upload_status = "Tải lên thất bại";
        });
    },
    /**
     * Youtube URL parser
     *
     * @param url
     * @returns {boolean}
     */
    youtubeParser(url) {
      // eslint-disable-next-line no-useless-escape
      var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
      var match = url.match(regExp);
      return match && match[7].length === 11 ? match[7] : false;
    }
  },
  watch: {
    /**
     * Update lại link youtube về dạng embed
     * Link không thuộc dạng embed không thể nhúng được vào website
     *
     * @param newVal
     */
    "form.youtube": function(newVal) {
      // newVal = newVal.replace('/watch?v=', '/embed/')
      let videoId = this.youtubeParser(newVal);
      if (videoId) {
        let link = "https://youtube.com/embed/" + videoId;
        this.form.youtube = link;
        this.setLinkYoutube(link);
      } else {
        this.form.youtube = "";
      }
    }
  }
};
</script>
