<template>
  <div>
    <!--    <h1 class="text-center">Settings</h1>-->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <!-- Input Addons -->
            <div class="box-header with-border">
              <h3 class="box-title">Thông tin cơ bản</h3>
            </div>

            <div class="box-body">
              <form01-basic-info />
              <form02-description />
              <form03-other-info />
              <form04-picture-and-video />
              <form05-map />
              <form06-contact />
              <form07-schedule />
            </div>            
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import swal from "sweetalert";

import Form01BasicInfo from "./Form01BasicInfo";
import Form02Description from "./Form02Description";
import Form03OtherInfo from "./Form03OtherInfo";
import Form04PictureAndVideo from "./Form04PictureAndVideo";
import Form05Map from "./Form05Map";
import Form06Contact from "./Form06Contact";
import Form07Schedule from "./Form07Schedule";
import PostService from "../../../services/post";

export default {
  name: "show",
  components: {
    Form01BasicInfo: Form01BasicInfo,
    Form02Description: Form02Description,
    Form03OtherInfo: Form03OtherInfo,
    Form04PictureAndVideo: Form04PictureAndVideo,
    Form05Map: Form05Map,
    Form06Contact: Form06Contact,
    Form07Schedule: Form07Schedule
  },
  data() {
    return {};
  },
  mounted() {
    this.loadProvinceData();
  },
  created() {
    this.getShow();
  },
  computed: {
    ...mapGetters("post_edit", {
      isLoading: "isLoading",
      isSubmitting: "isSubmitting"
    })
  },
  methods: {
    ...mapActions("post_edit", {
      doSubmit: "submit",
      reset: "reset"
    }),
    ...mapActions("post_ac", {
      loadProvinceData: "loadProvinceData"
    }),
    getShow() {
      this.isLoading = true;
      PostService.show(this.$route.params.id).then(response => {
        this.isLoading = false;
        this.form = response.data.data;
        console.log(response.data.data);
      });
    },
    submit() {
      this.isSubmitting = true;
      this.doSubmit(this.$route.params.id)
        .then(success => {
          this.isSubmitting = false;
          swal({
            title: "Good job!",
            text: JSON.stringify(success.data.message),
            icon: "success",
            button: false
          });
          this.$router.push("/post");
        })
        .catch(err => {
          this.isSubmitting = false;
          swal({
            title: "Cập nhật thất bại",
            text: JSON.stringify(err.response.data.errors),
            icon: "warning",
            button: false
          });
        });
    }
  }
};
</script>
