<template>
  <div>
    <!--    <h1 class="text-center">Settings</h1>-->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <!-- Input Addons -->
            <div class="box-header with-border">
              <h3 class="box-title">Thông tin cơ bản</h3>
            </div>

            <div class="box-body">
              <div class="form-group">
                <div class="col col-sm-12">
                  <label class="control-label">Tiêu đề</label>
                  <input
                    class="form-control"
                    v-model="form.title"
                    placeholder="Tiêu đề..."
                    type="text"
                  />
                </div>
              </div>
              <div class="form-group">
                <div class="col col-sm-6">
                  <label class="control-label">Loại nội dung</label>
                  <input
                    class="form-control"
                    v-model="form.content_type"
                    placeholder="Loại nội dung..."
                    type="text"
                  />
                </div>

                <div class="col col-sm-6">
                  <label class="control-label">Loại danh mục</label>
                  <select
                    v-model="form.category_id"
                    class="form-control select2"
                    style="width: 100%;"
                  >
                    <option selected value="0">-- chọn danh mục --</option>
                    <option
                      v-for="item in newsCategoryOptions"
                      :key="item.value"
                      :value="item.value"
                    >
                      {{ item.text }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <div class="col col-sm-6">
                  <label class="control-label">Ảnh đại diện</label>
                  <input
                    type="file"
                    class="form-control"
                    @change="onFileChange"
                    placeholder="Choose a file..."
                  />
                </div>
                <div class="col col-sm-6">
                  <div id="preview">
                    <img v-if="url" :src="url" width="80" height="75" />
                    <img
                      v-if="!url"
                      :src="
                        'http://127.0.0.1:8000/images/news/' + form.thumbnails
                      "
                      width="80"
                      height="75"
                    />
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col col-sm-12">
                  <label class="control-label">Mô tả ngắn</label>
                  <textarea
                    class="form-control"
                    v-model="form.summary"
                    rows="5"
                    placeholder="Tốc độ tăng trưởng mạnh mẽ của lĩnh vực..."
                    type="text"
                  ></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col col-sm-12">
                  <label class="control-label">Nội dung</label>
                  <ckeditor
                    :editor="editor"
                    v-model="form.content"
                    :config="editorConfig"
                  ></ckeditor>
                </div>
              </div>
              <div class="form-group">
                <div class="col col-sm-12">
                  <label class="control-label">Trích nguồn</label>
                  <input
                    class="form-control"
                    v-model="form.source"
                    placeholder="http://young-generation..."
                    type="text"
                  />
                </div>
              </div>
              <div class="form-group">
                <div class="col col-sm-6">
                  <label class="control-label">Ngày bắt đầu</label>
                  <input
                    class="form-control"
                    v-model="form.start_date"
                    type="date"
                  />
                </div>

                <div class="col col-sm-6">
                  <label class="control-label">Ngày kết thúc</label>
                  <input
                    class="form-control"
                    v-model="form.end_date"
                    type="date"
                  />
                </div>
              </div>
              <!-- /input-group -->
            </div>
            <!-- /.box-body -->
            <div class="box-body">
              <div class="col-sm-12">
                <button class="btn btn-warning changeColorBtn" @click="reset()">
                  <i class="fa fa-retweet"></i>
                  Nhập lại
                </button>
                <button
                  v-if="!isSubmitting"
                  class="btn btn-warning changeColorBtn"
                  @click="submit"
                >
                  <i class="fa fa-save"></i>
                  Lưu
                </button>
                <button v-else class="btn btn-warning changeColorBtn" @click="submit" disabled>
                  <i class="fa fa-cog fa-spin"></i>
                  Đang lưu ...
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<style>
.ck-editor .ck-editor__main .ck-content {
  min-height: 200px;
}

#preview {
  justify-content: center;
  align-items: center;
}

#preview img {
  max-width: 50%;
  max-height: 50%;
}
</style>
<script>
import { mapState, mapActions, mapGetters } from "vuex";
import swal from "sweetalert";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import NewsService from "../../services/news";

export default {
  name: "edit",
  data() {
    return {
      editor: ClassicEditor,
      editorConfig: {
        toolbar: {
          items: [
            "bold",
            "italic",
            "link",
            "undo",
            "redo",
            "imageUpload",
            "bulletedList",
            "numberedList",
            "blockQuote"
          ]
        }
      },
      url: null,
      image: "",
      form: {
        title: "",
        summary: "",
        content: "<p>Nội dung trang tin của bạn...</p>",
        content_type: "",
        category_id: 0,
        thumbnails: "",
        source: "",
        start_date: "",
        end_date: ""
      }
    };
  },
  mounted() {
    this.loadNewsCategoryData();
  },
  created() {
    this.getShow();
  },
  computed: {
    ...mapState("news_category_ac", {
      newsCategoryOptions: state => state.newsCategoryOptions
    }),
    ...mapGetters("news_add", {
      isSubmitting: "isSubmitting"
    })
  },
  methods: {
    ...mapActions("news_category_ac", {
      loadNewsCategoryData: "loadNewsCategoryData"
    }),
    ...mapActions("news_add", {
      setBasicInfo: "setBasicInfo",
      setThumbnails: "setThumbnails",
      addImage: "addImage",
      doSubmit: "submit",
      reset: "reset"
    }),
    onFileChange(e) {
      let files = e.target.files;
      this.image = e.target.files[0];
      const file = e.target.files[0];
      this.url = URL.createObjectURL(file); // show img
      this.doUploadFile(files);
    },
    doUploadFile() {
      const config = {
        headers: { "content-type": "multipart/form-data" }
      };
      let formData = new FormData();
      formData.append("image", this.image);
      NewsService.upload(formData, config)
        .then(res => {
          console.log(res.data.data);
          this.form.thumbnails = res.data.data;
          this.addImage(res.data.data);
        })
        .catch(function() {
          console.log("thất bại");
        });
    },
    getShow() {
      this.isLoading = true;
      NewsService.show(this.$route.params.id).then(response => {
        this.isLoading = false;
        this.form = response.data;
      });
    },
    submit() {
      this.isSubmitting = true;
      NewsService.update(this.$route.params.id, this.form)
        .then(success => {
          this.isSubmitting = false;
          swal({
            title: "Good job!",
            text: JSON.stringify(success.data.message),
            icon: "success",
            button: false
          });
          this.$router.push("/news");
        })
        .catch(err => {
          this.isSubmitting = false;
          swal({
            title: "Cập nhật thất bại",
            text: JSON.stringify(err.response.data.errors),
            icon: "warning",
            button: false
          });
        });
    }
  },
  watch: {
    "form.title": function() {
      this.setBasicInfo(this.form);
    },
    "form.summary": function() {
      this.setBasicInfo(this.form);
    },
    "form.content": function() {
      this.setBasicInfo(this.form);
    },
    "form.content_type": function() {
      this.setBasicInfo(this.form);
    },
    "form.category_id": function() {
      this.setBasicInfo(this.form);
    },
    "form.thumbnails": function() {
      this.setBasicInfo(this.form);
    },
    "form.source": function() {
      this.setBasicInfo(this.form);
    },
    "form.start_date": function() {
      this.setBasicInfo(this.form);
    },
    "form.end_date": function() {
      this.setBasicInfo(this.form);
    }
  }
};
</script>
