<template>
  <div style="float: left; margin-right: 5px">
    <button
      type="button"
      class="btn btn-default btn-sm mr-1"
      data-toggle="modal"
      data-target="#myModal"
      data-placement="left"
      title="Xem"
    >
      <i class="fa fa-eye"></i>
    </button>

    <div id="myModal" class="modal fade bd-example-modal-lg" role="dialog">
      <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <h4 class="modal-title">Tin tức</h4>
          </div>
          <div class="modal-body">
            <section class="content">
              <div class="row">
                <div class="col col-lg-12">
                  <div class="box box-info">
                    <!-- Input Addons -->
                    <div class="box-header with-border">
                      <h3 class="box-title">Thông tin chi tiết</h3>
                    </div>
                    <div class="form-group">
                      <div class="col col-lg-12">
                        <label class="control-label">Tiêu đề</label>
                        <input
                          disabled
                          class="form-control"
                          v-model="form.title"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <label class="control-label">Loại nội dung</label>
                        <input
                          disabled
                          class="form-control"
                          v-model="form.content_type"
                          type="text"
                        />
                      </div>
                      <div class="col-sm-12">
                        <label class="control-label">Loại danh mục</label>
                        <input
                          disabled
                          class="form-control"
                          v-model="form.category_id"
                          type="text"
                        />
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col col-sm-12">
                        <label class="control-label">Hình ảnh</label>
                        <div id="preview">
                          <img
                            :src="
                              'http://127.0.0.1:8000/images/news/' +
                                form.thumbnails
                            "
                            width="100"
                            height="60"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col col-sm-12">
                        <label class="control-label">Mô tả ngắn</label>
                        <textarea
                          disabled
                          class="form-control"
                          v-model="form.summary"
                          rows="5"
                          cols="120"
                          type="text"
                        ></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col col-sm-12">
                        <label class="control-label">Nội dung</label>
                        <textarea
                          disabled
                          class="form-control"
                          v-model="form.content"
                          rows="5"
                          cols="120"
                          type="text"
                        ></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col">
                        <label class="control-label">Trích nguồn</label>
                        <input
                          disabled
                          class="form-control"
                          v-model="form.source"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col">
                        <label class="control-label">Ngày bắt đầu</label>
                        <input
                          disabled
                          class="form-control"
                          width="300px"
                          v-model="form.start_date"
                          type="date"
                        />
                      </div>

                      <div class="col">
                        <label class="control-label">Ngày kết thúc</label>
                        <input
                          disabled
                          class="form-control"
                          v-model="form.end_date"
                          type="date"
                        />
                      </div>
                    </div>
                    <!-- /input-group -->
                  </div>
                  <!-- /.box-body -->
                </div>
              </div>
            </section>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Đóng
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NewsService from "../../services/news";

export default {
  props: ["newsShow"],
  data() {
    return {
      url: null,
      image: "",
      form: {
        title: "",
        summary: "",
        content: "",
        content_type: "",
        category_id: 0,
        thumbnails: "",
        source: "",
        start_date: "",
        end_date: ""
      }
    };
  },
  created() {
    this.getShow();
  },
  computed: {},
  methods: {
    getShow() {
      this.isLoading = true;
      NewsService.show(this.newsShow.id).then(response => {
        this.isLoading = false;
        this.form = response.data;
      });
      this.$emit("ok");
    }
  }
};
</script>
