<template>
  <div>
    <div class="form-group">
      <div class="col col-sm-12">
        <label class="control-label">Tài khoản</label>
        <input
          class="form-control"
          v-model="form.username"
          placeholder="Tài khoản..."
          type="text"
        />
      </div>
    </div>
    <div class="form-group">
      <div class="col col-sm-3">
        <label class="control-label">Mật khẩu</label>
        <input class="form-control" v-model="form.password" type="password" />
      </div>
      <div class="col col-sm-3">
        <label class="control-label">Họ</label>
        <input class="form-control" v-model="form.last_name" type="text" />
      </div>

      <div class="col col-sm-3">
        <label class="control-label">Tên</label>
        <input class="form-control" v-model="form.first_name" type="text" />
      </div>
    </div>

    <div class="form-group">
      <div class="col col-sm-12">
        <label class="control-label">Email</label>
        <input
          class="form-control"
          v-model="form.email"
          placeholder="Địa chỉ email..."
          type="text"
        />
      </div>
    </div>
    <div class="form-group">
      <div class="col col-sm-12">
        <label class="control-label">Số điện thoại</label>
        <input
          class="form-control"
          v-model="form.mobile"
          placeholder="Số điện thoại..."
          type="text"
        />
      </div>
    </div>
    <div class="form-group">
      <div class="col col-sm-12">
        <label class="control-label">Giới tính</label>
        <input
          class="form-control"
          v-model="form.sex"
          placeholder="0: Nam, 1: Nữ"
          type="text"
        />
      </div>
    </div>
    <!-- /input-group -->
    <div class="box-body">
      <div class="col-sm-12">
        <button class="btn btn-warning changeColorBtn" @click="reset()">
          <i class="fa fa-retweet"></i>
          Nhập lại
        </button>
        <button
          v-if="!isSubmitting"
          class="btn btn-warning changeColorBtn"
          @click="submit"
        >
          <i class="fa fa-save"></i>
          Lưu
        </button>
        <button
          v-else
          class="btn btn-warning changeColorBtn"
          @click="submit"
          disabled
        >
          <i class="fa fa-cog fa-spin"></i>
          Đang lưu ...
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import swal from "sweetalert";

export default {
  name: "Add",
  data() {
    return {
      form: {
        username: "",
        password: "",
        last_name: "",
        first_name: "",
        email: "",
        mobile: "",
        sex: ""
      }
    };
  },
  computed: {
    ...mapGetters("user_add", {
      isSubmitting: "isSubmitting"
    })
  },
  methods: {
    ...mapActions("user_add", {
      setBasicInfo: "setBasicInfo",
      doSubmit: "submit",
      reset: "reset"
    }),
    submit() {
      this.doSubmit()
        .then(success => {
          swal({
            title: "Good job!",
            text: JSON.stringify(success.data.message),
            icon: "success",
            button: false
          });
          this.$router.push("/user");
        })
        .catch(err => {
          swal({
            title: "Đăng tin không thành công",
            text: JSON.stringify(err.response.data.errors),
            icon: "warning",
            button: false
          });
        });
    }
  },
  watch: {
    "form.username": function() {
      this.setBasicInfo(this.form);
    },
    "form.password": function() {
      this.setBasicInfo(this.form);
    },
    "form.last_name": function() {
      this.setBasicInfo(this.form);
    },
    "form.first_name": function() {
      this.setBasicInfo(this.form);
    },
    "form.email": function() {
      this.setBasicInfo(this.form);
    },
    "form.mobile": function() {
      this.setBasicInfo(this.form);
    },
    "form.sex": function() {
      this.setBasicInfo(this.form);
    }
  }
};
</script>
