<template>
  <div>
    <div class="form-group">
      <div class="col col-sm-12">
        <label class="control-label">Tài khoản</label>
        <input
          class="form-control"
          v-model="form.username"
          placeholder="Tài khoản..."
          type="text"
        />
      </div>
    </div>
    <div class="form-group">
      <div class="col col-sm-3">
        <label class="control-label">Mật khẩu</label>
        <input class="form-control" v-model="form.password" type="password" />
      </div>
      <div class="col col-sm-3">
        <label class="control-label">Họ</label>
        <input class="form-control" v-model="form.last_name" type="text" />
      </div>

      <div class="col col-sm-3">
        <label class="control-label">Tên</label>
        <input class="form-control" v-model="form.first_name" type="text" />
      </div>
    </div>

    <div class="form-group">
      <div class="col col-sm-12">
        <label class="control-label">Email</label>
        <input
          class="form-control"
          v-model="form.email"
          placeholder="Địa chỉ email..."
          type="text"
        />
      </div>
    </div>
    <div class="form-group">
      <div class="col col-sm-12">
        <label class="control-label">Số điện thoại</label>
        <input
          class="form-control"
          v-model="form.mobile"
          placeholder="Số điện thoại..."
          type="text"
        />
      </div>
    </div>
    <div class="form-group">
      <div class="col col-sm-12">
        <label class="control-label">Giới tính</label>
        <input
          class="form-control"
          v-model="form.sex"
          placeholder="0: Nam, 1: Nữ"
          type="text"
        />
      </div>
    </div>
    <!-- /input-group -->
    <div class="box-body">
      <div class="col-sm-12">
        <button class="btn btn-warning changeColorBtn" @click="reset()">
          <i class="fa fa-retweet"></i>
          Nhập lại
        </button>
        <button v-if="!isSubmitting" class="btn btn-warning changeColorBtn" @click="submit">
          <i class="fa fa-save"></i>
          Lưu
        </button>
        <button v-else class="btn btn-warning changeColorBtn" @click="submit" disabled>
          <i class="fa fa-cog fa-spin"></i>
          Đang lưu ...
        </button>
      </div>
    </div>
  </div>
</template>
<script>
import swal from "sweetalert";
import UserService from "../../services/user";

export default {
  name: "edit",
  data() {
    return {
      form: {
        username: "",
        password: "",
        last_name: "",
        first_name: "",
        email: "",
        mobile: "",
        sex: ""
      }
    };
  },
  created() {
    this.getShow();
  },
  computed: {},
  methods: {
    getShow() {
      this.isLoading = true;
      UserService.show(this.$route.params.id).then(response => {
        this.isLoading = false;
        this.form = response.data;
      });
    },
    submit() {
      this.isSubmitting = true;
      UserService.update(this.$route.params.id, this.form)
        .then(success => {
          this.isSubmitting = false;
          swal({
            title: "Good job!",
            text: JSON.stringify(success.data.message),
            icon: "success",
            button: false
          });
          this.$router.push("/user");
        })
        .catch(err => {
          this.isSubmitting = false;
          swal({
            title: "Cập nhật thất bại",
            text: JSON.stringify(err.response.data.errors),
            icon: "warning",
            button: false
          });
        });
    }
  }
};
</script>
